@import url("@xyflow/react/dist/style.css");
@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__panel.bottom.right {
  opacity: 0.7;
  transform: scale(0.8) translate(30px, 25px);
}
.react-flow__panel.top.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.react-flow__panel.top.left > a {
  color: grey;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 1;
  font-size: larger;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}
.react-flow__panel.top.left > div {
  opacity: 0.2;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.react-flow__node-default {
  border-color: #c7c7c7;
}
.dndflow:has(.dark) .react-flow__node-default {
  border-color: #3c3c3c;
}
.dndflow .react-flow__node-default:hover,
.react-flow__node.selected .react-flow__node-default {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.2);
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.dndflow:has(.dark) .dndnode {
  border-color: #1a192b;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

/*************/
/*   Nodes   */
/*************/

.react-flow__node-default {
  border-width: 2px;
  width: fit-content;
  text-wrap: nowrap;
  min-width: 120px;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-node .react-flow__node-default {
  visibility: hidden;
}
.react-flow__node-default > svg {
  width: 100%;
  max-width: 130px;
  height: 50px;
  padding-right: 40px;
  margin-top: -12px;
  margin-bottom: -16px;
}
.react-flow__node.selected .react-flow__node-default {
  color: var(--xy-node-color-default);
  background: radial-gradient(
    circle at top left,
    rgba(240, 240, 240, 0.85),
    white 90%
  );
}
.dndflow:has(.dark) .react-flow__node.selected .react-flow__node-default {
  color: var(--xy-node-color-default);
  background: radial-gradient(
    circle at top,
    rgba(255, 255, 255, 0.15),
    var(--xy-node-background-color-default) 70%
  );
}
.react-flow__node.isBasic .react-flow__node-default {
  border-width: 3px;
}
.react-flow__node.Proprietary .react-flow__node-default {
  border-color: rgba(255, 166, 0, 0.2);
}
.react-flow__node.Classificatory .react-flow__node-default {
  border-color: rgba(255, 0, 255, 0.2);
}

.react-flow__node.highlight > .react-flow__node-default {
  background: #4d9f5f;
  color: white;
}
.dndflow:has(.dark) .react-flow__node.highlight > .react-flow__node-default {
  background: #4f0000;
  color: white;
}

.react-flow__node-toolbar {
  opacity: 0.25;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*************/
/*  Sidebar  */
/*************/

.dndflow aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-left-color: 1px solid #eee;
  padding: 6px 10px;
  font-size: 12px;
  background: #fcfcfc;
}
.dndflow:has(.dark) aside {
  color: white;
  background: rgba(0, 0, 0, 0.85);
}

.dndflow aside .nodes.user-concepts {
  margin-left: -8px;
  margin-right: -3px;
  padding: 5px 8px;
  overflow-x: none;
  overflow-y: auto;
}

.dndflow aside > div:first-child {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
}

.dndflow aside .description {
  font-size: 16px;
  margin-bottom: 10px;
}

.dndflow aside .nodes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.sideconcept {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
}
.dndflow:has(.dark) .sideconcept {
  border-color: #3c3c3c;
  background-color: #1e1e1e;
}
.dndflow aside .nodes .sideconcept:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.2);
}

.sideconcept.isBasic {
  border-width: 2px;
}
.sideconcept.Proprietary {
  border-color: rgba(255, 166, 0, 0.2) !important;
}
.sideconcept.Classificatory {
  border-color: rgba(255, 0, 255, 0.2) !important;
}

.sideconcept-new {
  position: relative;
}

.icon-new {
  position: absolute;
  top: -8px;
  right: -10px;
}

/*************/
/*  Dialog   */
/*************/

.bp5-dialog {
  width: 90%;
  max-width: 650px;
}
body:has(.react-flow.dark) .bp5-dialog-header {
  background-color: rgba(0, 0, 0, 0.6);
}
body:has(.react-flow.dark) .bp5-heading {
  font-size: 18px;
  color: white;
}
body:has(.react-flow.dark) .bp5-dialog {
  background-color: #1e1e1e;
  color: rgba(255, 255, 255, 0.85);
}
.bp5-dialog-header {
  font-size: 20px;
}
.bp5-dialog-body-scroll-container {
  line-height: 1.4rem;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 35%;
    min-width: 320px;
    max-width: 580px;
  }
}

@media screen and (max-width: 768px) {
  .dndflow {
    flex-direction: column;
  }
  .dndflow > .reactflow-wrapper {
    flex: 2;
  }

  .dndflow > aside {
    width: 100%;
    flex: 1;
    max-height: 50%;
  }
}
@media screen and (max-width: 450px) {
  .react-flow__panel.top.left > div {
    font-size: 10px;
  }

  .dndflow aside {
    gap: 2px;
  }
  .dndflow aside > div:first-child {
    font-size: 12px;
    margin-bottom: 3px;
    gap: 8px;
  }
  .dndflow aside .nodes .sideconcept {
    gap: 5px;
    padding: 6px 10px;
    font-size: 12px;
  }
  .bp5-dialog-header > h6 {
    font-size: 15px !important;
  }
  .bp5-dialog {
    font-size: 13px;
  }
  .bp5-dialog-body-scroll-container {
    max-height: 90vh;
    padding: 15px;
  }
  .bp5-button {
    font-size: 12px;
    padding: 5px;
  }
  .bp5-menu,
  .bp5-input {
    min-width: 150px;
    font-size: 12px;
  }
}
