@import url("@xyflow/react/dist/style.css");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__node.highlight > .react-flow__node-default {
  background: #ff0072;
  color: white;
}
.dndflow:has(.dark) .react-flow__node.highlight > .react-flow__node-default {
  background: #4f0000;
  color: white;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

/*************/
/*   Nodes   */
/*************/

.react-flow__node-default {
  width: fit-content;
  text-wrap: nowrap;
  min-width: 120px;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 18px;
}
.hidden-node .react-flow__node-default {
  visibility: hidden;
}
.react-flow__node-default > svg {
  padding-right: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
}

/*************/
/*  Sidebar  */
/*************/

.dndflow aside {
  border-left-color: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  width: 30%;
  overflow-y: scroll;
}
.dndflow:has(.dark) aside {
  color: white;
  background: rgba(0, 0, 0, 0.85);
}

.dndflow aside .description {
  font-size: 16px;
  margin-bottom: 20px;
}

.dndflow aside .nodes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.dndflow aside .nodes .sideconcept {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
}
.dndflow:has(.dark) aside .nodes .sideconcept {
  border-color: #3c3c3c;
  background-color: #1e1e1e;
}
.dndflow aside .nodes .sideconcept:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.sideconcept-new {
  position: relative;
}

.icon-new {
  position: absolute;
  top: -8px;
  right: -10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 35%;
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .dndflow {
    flex-direction: column;
  }

  .dndflow aside {
    width: 100%;
    height: 30%;
    /* max-height: 450px; */
  }
}
